<p id="notice"> </p>
<div class="row">
  <div class="col-md-8">

    <div class="page-header">
      <h3>Listing Users <small>(<%= User.count %>)</small></h3>
    </div>

    <div id="userTable">
    <%= render 'users' %>
    </div>
  </div>

  <div class="col-md-4">
    
    <div class="page-header">
      <h3>Add Users</h3>
    </div>

    <div id="errorMsg"></div>
    <%= render 'form' %>
  </div>
</div>

