<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-8">

	<div class="page-header">
      <h3>Listing Categories <small> (<%= Category.count %>)</small></h3>
    </div>  
    
    <div id="categoryTable">
    <%= render 'categories' %>
  </div>
</div>

<div class="col-md-4">
		<div class="page-header">
	      <h3>New Category </h3>
	    </div>
	<div id="errorMsg"> </div>
<%= render 'add_category' %>
</div>
</div>


